<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This file configures only the logging/tracing. The application config is moved to the dedicated XML file MobileIdClient.xml.  -->
  <system.diagnostics>
    <switches>
      <!--  The next setting specifies the "global" logging severity threshold. In order of decreasing verbosity,
            the value can be one of "All", "Verbose", "Information", "Warning", "Error", "Critical", "None".
      -->
      <add name="MobileId.WebClient.TraceSeverity" value="All"/>
      
    </switches>
    <trace autoflush="true"/>
    <sources>
      <!-- Logging messages of the Mobile ID client are written to multiple logging destinations (i.e. listeners).
           Severity threshold level of each destination is controlled by the attribute 'initializeData' of the <filter> element.
           Comment out or modify an <add> element to tune individual destination.
      -->
      <source name="MobileId.WebClient" switchName="MobileId.WebClient.TraceSeverity" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <!-- This listener writes to Console. -->
          <add name="console" type="System.Diagnostics.ConsoleTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
          </add>
          <!-- This listener writes to Windows Event Log (Log=Application, EventSource="MobileID") -->
          <add name="eventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="MobileID">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
          </add>
          <!-- This listens appends to a file for debugging purpose -->
          <add name="logfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="MobileIdClient.log">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>